.w-full
  = render partial: 'notice'
  = render partial: 'table_header', locals: { klass: 'Chromosome' }
  #chromosomes.min-w-full
    %ul.divide-y.divide-gray-400{ role: :list }
      = render @chromosomes
