@import "tailwindcss";

@theme {
  --font-sans: Inter var, ui-sans-serif, system-ui, sans-serif;
  --color-coral-50: #fcfcfa;
  --color-coral-100: #fbf0e7;
  --color-coral-200: #f6d2ce;
  --color-coral-300: #eba7a3;
  --color-coral-400: #e47776;
  --color-coral-500: #d45453;
  --color-coral-600: #ba3a39;
  --color-coral-700: #932b2a;
  --color-coral-800: #681e1d;
  --color-coral-900: #401311;
  --color-ochre-50: #fbfaf7;
  --color-ochre-100: #f9f0d6;
  --color-ochre-200: #f1daab;
  --color-ochre-300: #deb477;
  --color-ochre-400: #c78849;
  --color-ochre-500: #ac662a;
  --color-ochre-600: #8e4c1c;
  --color-ochre-700: #6c3917;
  --color-ochre-800: #4a2712;
  --color-ochre-900: #2f180c;
  --color-olive-50: #f9f9f4;
  --color-olive-100: #f3f0d3;
  --color-olive-200: #e3e1a3;
  --color-olive-300: #bfc06d;
  --color-olive-400: #88993f;
  --color-olive-500: #677b22;
  --color-olive-600: #526217;
  --color-olive-700: #404a14;
  --color-olive-800: #2c3210;
  --color-olive-900: #1d1e0d;
  --color-grass-50: #f6f8f4;
  --color-grass-100: #eaf0e1;
  --color-grass-200: #cee4bc;
  --color-grass-300: #9bc688;
  --color-grass-400: #57a357;
  --color-grass-500: #3e8633;
  --color-grass-600: #326e23;
  --color-grass-700: #2a531e;
  --color-grass-800: #1e3918;
  --color-grass-900: #142212;
  --color-green-50: #f4f7f5;
  --color-green-100: #e3f0ec;
  --color-green-200: #bfe4d3;
  --color-green-300: #88c7a8;
  --color-green-400: #45a578;
  --color-green-500: #318850;
  --color-green-600: #29703a;
  --color-green-700: #23552f;
  --color-green-800: #193a24;
  --color-green-900: #11231a;
  --color-teal-50: #f4f8f7;
  --color-teal-100: #e1f0f5;
  --color-teal-200: #bce2e8;
  --color-teal-300: #87c4cc;
  --color-teal-400: #4ba1a8;
  --color-teal-500: #378185;
  --color-teal-600: #2d6869;
  --color-teal-700: #264e51;
  --color-teal-800: #1b353a;
  --color-teal-900: #112027;
  --color-blue-50: #f6f9fb;
  --color-blue-100: #e2f0fc;
  --color-blue-200: #c3dbf9;
  --color-blue-300: #98b8f1;
  --color-blue-400: #7091e6;
  --color-blue-500: #586ddc;
  --color-blue-600: #4951cc;
  --color-blue-700: #383caa;
  --color-blue-800: #27297c;
  --color-blue-900: #16194e;
  --color-indigo-50: #f9fafb;
  --color-indigo-100: #eff0fb;
  --color-indigo-200: #ded5f7;
  --color-indigo-300: #c0afeb;
  --color-indigo-400: #a985dd;
  --color-indigo-500: #9060d0;
  --color-indigo-600: #7744bb;
  --color-indigo-700: #593396;
  --color-indigo-800: #3d2369;
  --color-indigo-900: #22163e;
  --color-purple-50: #fbfbfb;
  --color-purple-100: #f6f0f7;
  --color-purple-200: #eed2ef;
  --color-purple-300: #dba9da;
  --color-purple-400: #d07cc1;
  --color-purple-500: #bb57aa;
  --color-purple-600: #9f3c8c;
  --color-purple-700: #792d69;
  --color-purple-800: #541f45;
  --color-purple-900: #301426;
}
